on init
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

    # Set SunlightEnhancement sysnode owner
    chown system system /sys/class/mdnie/mdnie/lux

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/timed_output/vibrator/intensity
    chown system system /sys/class/timed_output/vibrator/force_touch_intensity
    write /sys/class/timed_output/vibrator/force_touch_intensity 10000
    
    # GPU
    chown radio system /sys/kernel/gpu/gpu_max_clock
    chown radio system /sys/kernel/gpu/gpu_min_clock
    chmod 0666 /sys/kernel/gpu/gpu_max_clock
    chmod 0666 /sys/kernel/gpu/gpu_min_clock

# Charger
service charger /system/bin/charger
    class sec-charger
    user root
    group system radio input
    capabilities SYS_BOOT
    critical

on fs
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100
    swapon_all /vendor/etc/fstab.${ro.hardware}

on late-fs
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256

on property:sys.boot_completed=1
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sda/queue/nr_requests 128

service sec-miscpower-2-0 /system/bin/true
    oneshot
    disabled

service argos-daemon /system/bin/true
    oneshot
    disabled

service cass /system/bin/true
    oneshot
    disabled

service ExynosHWCServiceTW /system/bin/true
    oneshot
    disabled

service ExynosHWCConfigs /system/bin/true
    oneshot
    disabled

service proca /system/bin/true
    oneshot
    disabled

service secure_storage /system/bin/true
    oneshot
    disabled

service sec_wsm_service /system/bin/true
    oneshot
    disabled

service vaultkeeper /system/bin/true
    oneshot
    disabled

service vaultkeeper_hal /system/bin/true
    oneshot
    disabled

service icccserv /system/bin/true
    oneshot
    disabled

service timaserv /system/bin/true
    oneshot
    disabled

service atnserv /system/bin/true
    oneshot
    disabled

service ucmtlc-hal-service /system/bin/true
    oneshot
    disabled

service snapserv /system/bin/true
    oneshot
    disabled

service snap_utility_64 /system/bin/true
    oneshot
    disabled

service snap_utility_32 /system/bin/true
    oneshot
    disabled
