on init
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

    # Set SunlightEnhancement sysnode owner
    chown system system /sys/class/mdnie/mdnie/lux

# LPM
service lpm /system/bin/lpm
    class sec-charger
    user root
    group system radio input
    critical
